%body
   %form{:method=>"post", :action=>""}
      %fieldset
         %legend Add System
         -fields = ['name', 'tdeg', 'mvol']
         -for field in fields
            ="#{field}"
            %input{:type=>"text",:name=>field, :id=>field, :size=>"15"}
            %BR
         %input{:type=>"submit",  :value=>"Submit"} 



