%body
   %form{:method=>"post", :action=>""}
      %fieldset
         %legend Add System
         Name
         %input{:type=>"text",:name=>"name", :id=>"system-name", :size=>"15"}
         tdeg 
         %input{:type=>"text",:name=>"tdeg", :id=>"tdeg", :size=>"15"}
         %input{:type=>"submit",  :value=>"Submit"} 



