#header
   #menu
      %ul
         %li
            %a{:href=>url("/systems/")} Systems
         %li
            %a{:href=>url("/families/")} Families
         %li
            %a{:href=>url("/about/")} About
   #search
      %form{:method=>"get", :action=>url("/search")}
         %fieldset
            %input{:type=>"text",:name=>"s", :id=>"search-text", :size=>"15"}

