!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
   %head
      %title Systems of Equations
      %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
      %link{"rel" => "stylesheet", "href" => "main.css", "type" => "text/css" }
   %body
      #header
         %h1 Systems of Equations
      %table
         %tbody
            %tr
            - @tableColumns.each do |columnTitle|
               %td= columnTitle 
            %td More Info
            - @systemData.each do |row|
               %tr
                  - @tableColumns.each do |column|
                     %td= row[column]
                  %td
                     %a{:href=>"system/" + row["Name"]}info
