!!!
- #edit these arrays to change the columns displayed. No ordered hash in 1.8, so 2 arrays work 
- nameTitle = "Name"
- nameField = "name"
- columnTitles = Array[ "Full Name", "Desc."] #what should be displayed 
- columnFields = Array[ "longname", "desc" ] #what the columns are named in the sql database  
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
   %head
      %title Systems of Equations
      %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
      %link{"rel" => "stylesheet", "href" => "css/uniqueName.css", "type" => "text/css" }
   %body
      #header
         %h1 Systems of Equations
      %table.gridtable
         %tr
         %th= nameTitle
         - columnTitles.each do |columnTitle|
            %th= columnTitle 
         %tbody
            - @systemData.each do |row|
               %tr
                  %td
                     %a{:href=>"system/" + row[nameField]}= row[nameField]
                  - columnFields.each do |field|
                     %td= row[field]
                 
