%body
   %form{:method=>"post", "accept-charset"=>"UTF-8", :action=>"/login/openid"}
      %fieldset
         %a{'href'=>"https://openid.org/home"}OpenID Identifier
         %input{:type=>"text",:class=>"openid",:name=>"openid_identifier", :size=>"15"}
         %input{:type=>"submit",  :value=>"Verify"} 
   Google: https://google.com/accounts/o8/id<BR>
   Yahoo: https://yahoo.com
 


