%body
   %form{:method=>"post", "accept-charset"=>"UTF-8", :action=>"/login/openid"}
      %fieldset
         Identifier
         %input{:type=>"text",:class=>"openid",:name=>"openid_identifier", :size=>"15"}
         %input{:type=>"submit",  :value=>"Verify"} 



