!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
   %head
      %title Systems of Equations
      %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
      %link{"rel" => "stylesheet", "href" => "/css/styles.css", "type" => "text/css" }
      %link{"rel" => "stylesheet", "href" => "/css/customStyles.css", "type" => "text/css", "media"=>"screen"}   
      %link{"rel"=>"stylesheet", "href"=>"http://fonts.googleapis.com/css?family=Playfair+Display", "type"=>"text/css"}
   %body
      = partial "bar"
      #page
         #content
            #content-bgtop
               #content-bgbtm
                  %div.post
                     %h1 Systems of Equations
                     = partial "systemsTable", {:nameDesc => @systemData, :type=>'systems'} 
         #sidebar
            %ul
               %li
                  %h2 
                     %a{:href=>url("/families/")}Families                 
                  %ul
                     -@families.each do |family|           
                        %li
                           %a{:href=>url("/families/#{family['name']}")}= family['name']                
