#header{
    color:white;
    background-color:#005511;
  	font-family:verdana,arial,sans-serif;
	text-align:center;
}

p.desc {
  border: 1px solid black;
}

table.gridtable {
    width:100%;
	font-family:verdana,arial,sans-serif;
	font-size:15px;
	border: 2px solid black;
	border-spacing: 0px;
	border-collapse:separate;
	
}
table.gridtable th {
	padding: 8px;
	color: white;
	border: 1px solid black;
	background-color:#005511;
}
table.gridtable td {
	padding:8px;
	border: 1px solid black;
	background-color:white;
}


table.detailstable {
    width:50%;
	font-family:verdana,arial,sans-serif;
	font-size:15px;
        float:left;
        padding: 3px 8px 8px 0px;
        border-spacing: 0px;
        border-collapse: separate;
	
}
table.detailstable th {
	padding: 8px;
	color: white;
	border: 1px solid black;
	background-color:#005511;
}
table.detailstable td {
	padding:8px;
	border: 1px solid black;
	background-color:white;
}

button.collapseButton {
   float : right;
}
div.collapsibleHeader {
	border:1px solid #ccc;
	background:#e2e2e2;
}
div.collapsibleDiv {
	border:1px solid #ccc;
	background:#f2f2f2;
	padding:20px;
}

